<div>
  <div class="welcome">Welcome {{user}} </div>
  <div class="search-input-container">
    <p>Search A Book</p>
    <div class="navBarContainer">
      <div>
        <input matInput placeholder="Enter Your Search" class="input" (change)="onSearch($event.target.value)"
          (keyup.enter)="onClickSearch()">
        <button class="btn" (click)="onClickSearch()">Search</button>
      </div>
      <a class=" wishListText" routerLink="/wishList" routerLinkActive="active">WishList [ {{wishList.length}} ]</a>
    </div>
  </div>
  <ul>
    <div (click)="onClickResult(book.volumeInfo)" class="search-result" *ngFor="let book of books">{{book.volumeInfo.title
        }}</div>
  </ul>
</div>