<div>
  <p class="welcome">Welcome {{user}} </p>
  <div class="search-input-container">
    <p>Search A Book</p>
    <div style="justify-content: space-between; display: flex;">
      <div>
        <input matInput placeholder="Enter Your Search" class="input" (change)="onSearch($event.target.value)">
        <button class="btn" (click)="onClickSearch()">Search</button>
      </div>
      <a routerLink="/wishList" routerLinkActive="active">WishList</a>
    </div>
  </div>
  <ul>
    <div (click)="onClickResult(book.volumeInfo)" class="search-result" *ngFor="let book of books">{{book.volumeInfo.title
        }}</div>
  </ul>
</div>